doc/*
!doc/*/*.pdf
!doc/*/*.tex
!doc/script

out/*
*.swp
*.iml
*.xml
!/.idea/
/.idea/
!/doc/Requirements/
/doc/Requirements/Requirements.toc
/doc/Requirements/Requirements.synctex.gz
/doc/Requirements/Requirements.fls
/doc/Requirements/Requirements.fdb_latexmk
/doc/Requirements/Requirements.lot
/doc/Requirements/Requirements.log
/doc/Requirements/Requirements.aux
/doc/Requirements/Requirements.lof
/.gitignore
/.idea/vcs.xml
out/
/doc/Requirements/Requirements.dvi
