#only the folowing may pass: tex .pdf script/ img/ 
doc/* 
!doc/*/ 
doc/*/* 

!doc/script/* 
!doc/uml/* 
!doc/*/img/ 
!doc/*/*.pdf 
!doc/*/*.tex 
!doc/*/glossary/
doc/*/glossary/*
doc/*/glossary/*.tex


out/
*.iml
/.idea/
*.swp
