#only the folowing may pass: tex .pdf script/ img/ 
reminders.ser
doc/*
!doc/*/ 
doc/*/* 

!doc/script/* 
!doc/uml/* 
!doc/*/img/ 
!doc/*/*.pdf 
!doc/*/*.tex 
!doc/*/glossary/
doc/*/glossary/*
!doc/*/glossary/*.tex


out/
*.iml
/.idea/
*.swp

/src/.idea/
target/Alarmclock-1.0-SNAPSHOT.jar
target/classes/noSceneBuilder/
target/classes/styles.css
target/generated-sources/
target/generated-test-sources/
target/maven-archiver/
target/maven-status/
target/site/
target/surefire-reports/
target/test-classes/
!/doc/Requirements/glossary/Glossary.tex
